*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid{
  background: linear-gradient(to right, #E5BDF6, #D8DEDE);
  height: 100vh;
}

.wrapper{
  padding: 4%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 25px;
}

.box1{
  border: 1px solid black;
  padding: 4%;
  background-color: white;
  width: 75%;
}