*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#background-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.container-fluid{
  background-size: cover;
}

.wrapper{
  padding: 4%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 25px;
}

.box1{
  border: 1px solid black;
  padding: 4%;
  background-color: white;
  width: 75%;
}